:root {
  --ff-main: 'Spartan', sans-serif;
  --fs-main: 1.125rem;
  --fs-nums: 1.5rem;
  --fs-screen: 3rem;
  --fs-toggle: 0.7rem;
  --fw-normal: 400;
  --fw-bold: 700;
  --border-radius: 6px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-main);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  font-size: var(--fs-main);
  margin: 0;
}

input,
button {
  font-family: var(--ff-main);
  font-weight: var(--fw-bold);
  font-size: var(--fs-main);
}

h1 {
  margin: 0;
  text-transform: lowercase;
}

.dark-theme {
  --bg-main: hsl(222, 26%, 31%);
  --bg-toggle: hsl(223, 31%, 20%);
  --bg-keypad: hsl(223, 31%, 20%);
  --bg-screen: hsl(224, 36%, 15%);
  --bg-accent: hsl(6, 63%, 50%);
  --bg-desaturated: hsl(225, 21%, 49%);
  --bg-key: hsl(30, 25%, 89%);
  --clr-main: hsl(221, 14%, 31%);
  --clr-white: #fff;
  --clr-screen: #fff;
  --clr-banner: #fff;
  --clr-accent: #fff;
  --clr-desaturated: #fff;
  --shadow-key: hsl(28, 16%, 65%);
  --shadow-accent: hsl(6, 70%, 34%);
  --shadow-desaturated: hsl(224, 28%, 35%);
}

main {
  background-color: var(--bg-main);
}

.calculator {
  max-width: 30rem;
  margin: 0 auto;
  padding: 4rem 1rem;
}

.banner {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-banner);
}

.toggle {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: var(--fs-toggle);
  transition: all 1s ease-out;
}

.toggle__labels {
  padding: 0 0.2rem;
  margin-bottom: 0.2rem;
}

.toggle__labels label {
  display: inline-block;
  width: 0.9rem;
  text-align: center;
  margin: 0 0.2rem;
}

.toggle__container {
  display: flex;
  align-items: center;
}

.toggle__title {
  margin-right: 1.5rem;
}

.toggle__group {
  display: flex;
  padding: 0.3rem 0.2rem;
  border-radius: 9999px;
  background-color: var(--bg-toggle);
}

.toggle__key {
  position: relative;
  display: flex;
  align-items: center;
}

.toggle__key input {
  margin: 0 0.2rem;
  width: 0.9rem;
  height: 0.9rem;
  opacity: 0;
}

.toggle__key input:checked + span {
  position: absolute;
  left: 0.2rem;
  top: 0;
  display: inline-block;
  width: 0.9rem;
  height: 0.9rem;
  background-color: var(--bg-accent);
  border-radius: 50%;
}

.screen {
  margin-bottom: 1.5rem;
}

.screen input {
  width: 100%;
  background-color: var(--bg-screen);
  color: var(--clr-screen);
  padding: 2rem 1.5rem;
  font-size: var(--fs-screen);
  text-align: right;
  border: none;
  border-radius: var(--border-radius);
}

.keys {
  background-color: var(--bg-keypad);
  padding: 1.5rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 3rem);
  border-radius: var(--border-radius);
}

.keys .key:nth-last-of-type(1),
.keys .key:nth-last-of-type(2) {
  grid-column: span 2;
}

.keys .key {
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: inset 0 -3px var(--shadow-key);
  transition: box-shadow 0.1s ease-in;
  color: var(--clr-main);
}

.keys .key.accent {
  color: var(--clr-accent);
  background-color: var(--bg-accent);
  box-shadow: inset 0 -3px var(--shadow-accent);
}

.keys .key.accent:active {
  box-shadow: inset 0 -1px var(--shadow-accent);
}

.keys .key.desaturated {
  color: var(--clr-desaturated);
  background-color: var(--bg-desaturated);
  box-shadow: inset 0 -3px var(--shadow-desaturated);
}

.keys .key.desaturated:active {
  box-shadow: inset 0 -1px var(--shadow-desaturated);
}

.keys .key:active {
  box-shadow: inset 0 -1px var(--shadow-key);
}

.keys .key:hover {
  opacity: 0.9;
}

.keys .nums {
  font-size: var(--fs-nums);
  text-transform: lowercase;
}
